<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12" id="burger-row">
					<img src="/assets/img/hamburger.png" alt="Burger Image" id="burger-img">
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					{{{ body }}}
				</div>				
			</div>
		</div>		
	</body>
</html>
