body {
  background-color: orange;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#burger-img {
  width: 200px;
  height: 200px;
}

#burger-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#burger-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#devoured-undevoured {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}

#add-burger {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}
